body{
  background-color: orange;
}

*{
  margin:0;
  padding:0;
}

/*Door Selection Page*/
#build-door-btn {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  padding: 10px 20px;
  background-color: darkslategray;
  opacity: 0.8;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom:30px;

}

#build-door-btn:hover{
  background-color: orangered;
}

.carousel-item{
  text-align: center;
  margin-bottom:20px;
 
}

.carousel-inner {
  border: 2px solid purple;
  margin-top:10px;
  margin-bottom:10px;

}

.carousel-item img {
 width:500px;
 height:500px;
}

.carousel-control-prev {
  left: 330px;
}

.carousel-control-next{
  right: 330px;
}

.container-fluid{
  margin-bottom: 30px;
}
.control-btn {
  top: 50%;
  height:50px;
  width:50px;
  background-color: orange; 
  opacity: 0.5;             
  border: none;
}
.control-btn:focus {
  outline: none;
  background-color: orange; 
}

#slide-btn{
  background-color: black;
}
