/*Door Selection Page*/
#centering-div{
  display:flex;
  flex-direction: column;
  justify-content: center;
  row-gap:1em;
  min-height:100vh;
  min-width:100vw;
  background: rgba(0, 0, 0, 0.5); /* adjust opacity */
}
#doorSelectCarousel{
  display:flex;
  flex-direction:column;
  width:100%;
  height:auto;
  row-gap:1em;
  background-color: var(--color-orange-main);
  border-radius:16px;
}
#doorSelectInner{
  position:relative;
  width:97%;
  border-radius:16px;
}
#doorSelectCarouselItem{

}
#doorSelectCarouselItem > h1{
  height:3.5rem;
}
@media(min-width:1024px){
  #doorSelectCarousel{
    width:90%;
  }
    #doorSelectInner{
    position:relative;
    width:80%;
  }
  #centering-div{
    background: rgba(0, 0, 0, 0.3)
  }
}
#doorName{
   /* padding:0.25em 0 0.25em; */
}
#doorSelectCarouselItem img {
  border-radius:16px;
  border:3px solid black;
}
#prevDoor,#nextDoor {     
  width: 15%;   
  top:3.5rem;            
  color: orange;
  border-radius: 16px;
  background-color: var(--color-grey);  
  opacity:0.1;
  transition:0.2s;
}

#prevDoor > span,
#nextDoor > span{
  border-radius:16px;
  padding:2em;
}
.carousel-indicators {
  position: static;      
  display: flex;
  justify-content: center;
  gap: 0.5em;
  margin:0;
}
.carousel-indicators > .slide-btn{
  height:3vh;
  width:15%;
  background-color: black;
}
#centering-div > .btns{
}
